IO_LOC "led_normal" 15;
IO_PORT "led_normal" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "led_atencao" 16;
IO_PORT "led_atencao" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "led_alerta" 17;
IO_PORT "led_alerta" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC "clk27" 4;
IO_PORT "clk27" PULL_MODE=UP IO_TYPE=LVCMOS33;
